/* 名称：004.ForceMyFonts.Chinese.FireFoxChromeIE.catcat520 *//* 别名：004.自定义全局字体，修正乱码和网页错位㊣ */
/* 更新：2014.11.20 | 21:13 *//* 感谢：该 CSS 最初版本来至 卡饭 lyttmonkey & defpt，字体阴影数值参考 卡饭 freelu */
/* 功能：自定义全局字体，例：英文 Tahoma，中文 雅黑。修正乱码，网页错位 *//* AGENT_SHEET */
/* 注释：L：字体乱码，K：跨域乱码，C：字体错位，D：代码错位，S：缩放错位 */
/* 适用：Win/*nix 系统 和 FireFox/IE/Chrome 内核浏览器 *//* i really want this to be global */
/* 网址：https://userstyles.org/styles/100473/004-forcemyfonts-chinese-firefoxchromeie-catcat520 */
/* 帮助：http://bbs.kafan.cn/thread-1681393-1-1.html *//* 反馈问题需附上网址 url，截图 */

/* main(diyfont) */*:not([class*="ico"]):not(i){font-family: 
/* main(sysfont) */"XYZ0123456789XYZ","Catcat520.Lite.Latin","在这填写","Inconsolata-g","Inconsolata","Inconsolata-g","Inconsolata","Segoe UI","Tahoma","Menlo","Monaco","在这填写","Microsoft YaHei UI","Microsoft YaHei","Microsoft YaHei UI","Microsoft YaHei","Microsoft JhengHei UI","Microsoft JhengHei","SimSun","fp-font",
/* main(webfont) */"AccessibilityFoundicons","Accessibility Foundicons","brandico","Brandico","brankic1979","Brankic1979","brankic 1979","Brankic 1979","broccolidry","Broccolidry","CONDENSEicon","cuticons","Cuticons","dashicons","Dot Com","ecoico","Ecoico","EightiesShades","ElegantIcons","elusive","Elusive","Elusive-Icons","entypo","Entypo","Entypo Social","Entypo-Social","Erler Dingbats","et-line","Et-line","fontawesome","FontAwesome","fontelico","Fontelico","fontello","Fontello","GeneralEnclosedFoundicons","General Enclosed Foundicons","GeneralFoundicons","General Foundicons","Gibson","Gibson Light","gibson_lightbold","Gibson_lightbold","gibson_lightitalic","Gibson_lightitalic","gibsonregular","Gibsonregular","Glyphicons Halflings","GLYPHICONS Halflings","Heydings Controls","Heydings Icons","iconminia","Iconminia",
/* main(webfont) */"iconvault","Iconvault","icomoon","Icomoon","iconic","Iconic","icons","Icons","Just Vector","JustVector","JustVectorRegular","linecons","Linecons","LondonMM","londonmmregular","Londonmmregular","mainicon","maki","Maki","Mainicon","meteocons","Meteocons","MeteoconsRegular","mfglabs","Mfglabs","MFG Labs Iconset","mfg_labs_iconsetregular","Mfg_labs_iconsetregular","modernpics","Modernpics","Modern Pictograms","OpenWeb Icons","PulsarJS","RaphaelIcons","rondo","Rondo","silkcons","Silkcons","SocialFoundicons","Social Foundicons","Socialico","Socialico Plus","Social Networking Icons","Sosa","Symbol Signs","Symbol Signs Basis set","typicons","Typicons","weathercons","Weathercons","websymbols","Websymbols","Web Symbols","Web Symbols Liga","wpzoom","Wpzoom","zocial","Zocial",
/* main(sysfont) */"Segoe UI Symbol","Symbola","Meiryo","Malgun Gothic","NSimSun","Nimbus Roman No9 L","WenQuanYi Micro Hei","WenQuanYi Zen Hei","Hiragino Sans GB","FZSongS","方正宋体S-超大字符集","Arial Unicode MS","Unifont","Symbol"  !important;}

/* VerCtrl */.comeing_twosublist>li>a[href*=thread-1681393-1-1]:after{background: #CBDDE3;color: black;content: " Now(2014.11.20 | 21:13)"  !important;}
/* stylish edit box Orion */#clientDiv>DIV , #clientDiv>DIV>SPAN , .rulerLines.odd , .rulerLines.even{font-family: "Source Code Pro","Consolas","Menlo","Monaco","DejaVu Sans Mono","Liberation Mono","Nimbus Roman No9 L","Times New Roman","Courier New","Microsoft JhengHei UI","Microsoft JhengHei","Microsoft YaHei UI","Microsoft YaHei","SimHei","SimSun","KaiTi","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei Mono","Hiragino Sans GB"  !important;font-size:14px  !important;line-height:15pt  !important;}
/* taobao.com */dl>dt>span.lala , .iconfont>em , p.font-face , a.new-todo-item , a.setting-item , a.calender-book-item , span.prev-btn , span.next-btn{font-family: "shop-iconfont","global-iconfont","mticonfont","marketicon"  !important;}
/* ju.taobao.com */.ju-groupbar>.backtop>a:nth-child(n) , .mod-filter>.search>form:nth-child(n)>button:nth-child(n) , .cat-menu-h>p.ju-icon-juhuasuan>a:nth-child(n) , tbody>tr.h2:nth-child(n)>td:nth-child(n)>p:nth-child(n) , .feedback>.J_feedback>span:nth-child(n) , .ju-groupbar>.mbclientli>a.mbclient , h1.logo>.ju-logo>div[class^="ju-icon-"]{font-family: "ju-font"  !important;}
/* itercast.com */span.fui-logo-text{font-family: "IterCast-Icon"  !important;}
/* github.com */span.diffstat-bar , span.diff-added{font-family: "octicons"  !important;}
/* html5test.com */.pointsPanel h2>span , .pointsPanel h2>strong , #indexbutton , #loading>div{font-family: "League Gothic","html5test"  !important;}
/* 2345.com *//* L */.these_col_1>.tool_ul>li>a>ins , DIV.module_t>span>a>ins , DIV.module_t>a>ins , .category_in>div.panel:nth-child(n)>p>ins>a , #rightToolBox>dd>ins>a , .cnxh_hd>#J_gul_cata>a>ins{font-family: "2345"  !important;}
/* 2345.com *//* D */#content>#left>.kzjx h2 a{margin: 0px 7.5px  !important;}
/* sports.163.com/nba *//* CD */span.nba_matchnav_score , .pbody{font-family: "System","SimSun"  !important;margin: 1px auto  !important;}
/* w3cplus.com */#go_top{font-family: "w3cplus"  !important;}
/* designgala.com */DIV.textwidget>.social>li>a{font-family: "JustVectorRegular"  !important;}
/* etao.com */.s-btn-container>input{font-family: "globalheader"  !important;}
/* alimama.com */a.data-send , i.current , .item-second>i , span.dialog-ext-close-x , #mxevt-0>i , #mxevt-1>i , .item-first>i{font-family: "uxiconfont"  !important;}
/* abort *//* laverna.cc #wmd-bold-button > span,#wmd-italic-button > span,#wmd-link-button > span,#wmd-quote-button > span,#wmd-code-button > span,#wmd-image-button > span,#wmd-olist-button > span,#wmd-ulist-button > span,#wmd-heading-button > span,#wmd-hr-button > span,#wmd-undo-button > span,#wmd-redo-button > span{font-family: "fontello"  !important;} */
/* 3c/chaoshi.tmall.com */.tm-focus-banner>dd>.logoIcon , .tab-pannel-combos>.tab-nav-groups>.trigger-prev , .tab-pannel-combos>.tab-nav-groups>.trigger-next , .tm-pay-box>.tm-pay>#J_Toggler , .tm-shopPromo-panel>a.more>s , .gray>h3>s , a:nth-child(n)>div:nth-child(n)>button:nth-child(n) , .tm-chaoshi-slide .trigger-next , .tm-chaoshi-slide .trigger-prev , li>a>s:nth-child(n) , li.j_Li>h3>s , a.mui-mbarp-prof-priv , .c-page span , .c3-item-shrh>ins , span.zoomIcon , div.mui-mbar-tab-logo.mui-mbar-tab-logo-qrcode , span.phone , span.arrow , .c>span , .row3 .row-title .c-slogo span , ins.c-rmb , .c-pairprice ins , li.tb-serPromise-item>a>s , .c3-item-sfby>ins , .c3-item-wythh>ins , .c3-item-qglb>ins{font-family: "iconfont-detail","tmall3c","iconfont_qr","iconfont","mbar-font","iconfont-chaoshi","tm-detail-font"  !important;}
/* detail.tmall.com */DIV.hd>a.more.unmore>s , .tm-shopPromotion-title>a.more>s , .tb-amount-widget>.mui-amount-btn>SPAN[class^="mui-amount-"] , #J_TabBar>.tm-shop-list>.tm-shop-list-new{font-family: "tm-detail-font"  !important;}
/* godaddy.com */li>a>.caret:before , div>div>.close:before{font-family: "uxfont","whoisyourdaddy"  !important;}
/* dragonporn.ldblog.jp */span.omatome-icn-twitter{font-family: "omatome_ico"  !important;}
/* wenku.baidu.com */p[class^="reader-word-"]{font-family: "Corbel","Gabriola","Times New Roman Italic","Times New Roman","91c5a3bbfd0a79563c1e72030080001","Nimbus Roman No9 L","SimHei","SimSun","NSimSun","Symbol","Microsoft JhengHei UI","Microsoft JhengHei","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei Mono","Hiragino Sans GB"  !important;letter-spacing:-4px  !important;}
/* abort Markdown *//* maxiang.info/dillinger.io/zybuluo.com/stackedit.io/mahua.jser.me/github.com div[class^=ace_]>div>*>span[class^=ace_]{font-family: "Inconsolata-g","Inconsolata","SimHei","KaiTi","SimSun"  !important;} */
/* acgdb.com */#top #top-options>label , .mediaviewer-inset>.wrapper>.close:before , .mediaviewer>.wrapper>.body .panel .share , .mediaviewer-overlay>.wrapper>.body .nav a , .form-login>div p a[acgdb-tip="新浪微博"] , .form-login>div p a[acgdb-tip="腾讯微博"] , .slideshow2>.wrap>label span em , #quickfacts> .nav a span , #acgdb-picviewer>.top>.switches label{font-family: "acgdb"  !important;}
/* firefox.net.cn *//* S */.wrap>.main_wrap>.bread_crumb , .main_wrap>.forum_page>.bbs_info_box{padding: 62px 1px 10px 20px  !important;}
/* firefox.net.cn *//* S */body>.wrap>.search_type_wrap>.search_type{padding: 62px 0px 20px 170px  !important;}
/* entypo.com */div.content>#logo>#front , div.content>#logo>#back{font-family: "entypo-logo"  !important;}
/* caipiao.sohu.com */div.sgcp_a_d#sgcp_a_d , div.sgcp_a_d_mask#sgcp_a_d_mask{display: none  !important;}
/* sf-express.com */ul>li>span[class^=sfi] , div>li>span[class^=sfi] , div>span>span[class^=sfi] , h4>a>span[class^=sfi] , .bill-number>.go-waybill-by-phone-num>span[class^=sfi] , li>a>span[class^=sfi]{font-family: "sf-express-icon"  !important;}
/* baidu.com *//* Y */HTML>BODY>#_mask[style^="opacity"]{display: none  !important;}
/* read.qidian.com *//* D */#qd_reader_header>.page_set>.gg_box{display: none  !important;}
/* google.com *//* Y */#cnt>div.mw>#flyr{display: none  !important;}
/* dzh.mop.com *//* D */body>.topbar>.m-topbar-wrapper{border-bottom: 2px dashed #D0D0D0  !important;}
/* dzh.mop.com *//* Y */.main>.p20>.dzh-indexNotice.mb15{display: none  !important;}
/* dzh.mop.com *//* Y */div>.main .p20{padding: 0px 20px 0px 20px  !important;}
/* s.taobao.com *//* D */.grid-view .item .g_price{letter-spacing: normal  !important;}
/* duckduckgo.com *//* L */.search-wrap--home>#search_form_homepage>#search_button_homepage , .header__content>#search_form>#search_form_input_clear , .search-wrap--home>#search_form_homepage>#search_form_input_clear , .region-indicator-wrap>.region-indicator>span.region-indicator__icn , .header__content>#search_form>#search_button , #header_wrapper>.header--aside>.header__button--menu , div.zci__metabar>span.zci__metabar__mode-wrap>a.zci__metabar__mode{font-family: "ddg-serp-icons","DDG_ProximaNova"  !important;}
/* tudou.com *//* L */div[class*=Slide]>.btn>b{font-family: "tuiicon"  !important;}
/* wordpress.com *//* Y */.format-standard>.content>p , #maincontent_inner>.format-standard>.post-info , #wrapper>#content>#title , #maincontent>#maincontent_inner>.post{margin: inherit  !important;}
/* wordpress.com *//* Y */#maincontent_inner>div>.post-meta{padding: inherit  !important;}
/* wordpress.com *//* Y */#header>#header_inner>.nav , #header>#header_inner>#search-form{top: 2px  !important;}
/* wordpress.com *//* Y */.content-sidebar>#wrapper>#header{height: 33px  !important;}
/* wordpress.com *//* Y */.content-sidebar>#wrapper>#content{max-width: none  !important;}
/* wordpress.com *//* Y */#maincontent_inner>.format-standard>.sep{height: 3.5px  !important;}
/* weibo.com *//* L */div>.W_swficon>em[class^=spac]{font-family: "WBswficon"  !important;}
/* 17173.com *//* SY */BODY.trend>.wrapper>#content{padding-top: initial  !important;}
/* 17173.com *//* SY */#center>.center-con>#flashBox{margin-top: initial  !important;}
/* 17173.com *//* SY */#playRight>#rightTalk>.right-adimg{height: 0px !important;border-style: none !important;}
/* ele.me *//* L */#mod_fixed>A.btn-site-feedback>SPAN.glyph-feedback.glyph , DIV.rst-d-act.act_btns>A.rst-d-act-add.add_btn>span.rst-d-act-glyph{font-family: "eleme"  !important;}
/* pexetothemes.com *//* L */#footer>.scroll-to-top>span:nth-child(n) , DIV.section-boxed>.testimonial-slider>DIV[class^="ts-arrow"] , .portfolio-carousel>.pc-wrapper>DIV[class^="pc-"] , DIV.content-slider-wrapper>DIV[class^="content-slider"]>DIV[class^="cs-arrows"]{font-family: "PexetoArrows"  !important;}
/* lengxiaohua.cn *//* D */#layMain>#contentTop>.articleTab{float: inherit  !important;}
/* zybuluo.com *//* D */#preview-button-bar>#preview-button-row>.dropdown{margin-right: auto  !important;}
/* deviantart.com *//* L */tr>#oh-menu-friends>#friendslink , tr>#oh-menu-collect>#collectlink{font-family: "feedfont"  !important;}

/* stylish edit box CodeMirror */.CodeMirror-scroll{font-family: "Source Code Pro","Consolas","Menlo","Monaco","DejaVu Sans Mono","Liberation Mono","Nimbus Roman No9 L","Times New Roman","Courier New","Microsoft JhengHei UI","Microsoft JhengHei","Microsoft YaHei UI","Microsoft YaHei","SimHei","SimSun","KaiTi","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei Mono","Hiragino Sans GB"  !important;font-size:14px  !important;line-height:15pt  !important;}

/*淡蓝色边框*/
input:focus,textarea:focus,select:focus{
border:2px #3297FD solid !important;
border-color:#3297FD !important;
border-radius: 5px !important;
box-shadow:1px0px5px #3297FD !important;}

/*链接过渡*/
a{-o-transition: all 0.3s ease-out;}
a:hover{
color:blue !important;
text-shadow:-5px 3px 18px #F90 !important;
-o-transition:all 0.2s ease-out;}

/*链接新标签打开提示*/
a[target="_blank"]:hover{
color:red !important;
text-shadow:-5px 3px 18px #F90 !important;
-o-transform:scale(1.05);
-o-transition:all 0.2s ease-out;}

/*图片过渡*/
img{-o-transition:all 0.3s ease-out;}
img:hover{
-o-transform:scale(1.05);
-o-transition:all 0.3s ease-out;}

/*带链接图片指向紫光*/
a[target="_blank"]>img:hover{
box-shadow: 0px 0px 4px 4px rgba(148,0,211,0.6) !important;
-o-transition-property: box-shadow;
-o-transition-duration: .31s;}

/*去除下划线*/
a>em,a{text-decoration: none !important;}

/* 访问过链接 */
a:visited {color:#800080 !important; opacity:0.6 !important;}
a:visited:hover {color:hotpink !important; opacity:1.0 !important;}

/*清除网页干扰码*/
body{-o-user-select:element !important;}
font.jammer {display: none !important}

/*去广告*/
/*Google*/
.adsbygoogle,#tads,#bottomads {display: none !important}

/*360搜索*/
#so_kw-ad,div#m-spread-left {display: none !important}

/*百度*/
#adCard,table#relEcom,#adsearch,#siderAdAfterPicInfo,div[id^="relecom"] {display: none !important}

/*百度知道*/
div.wgt-bottom-ask,div.cms-slide,.wgt-ads {display: none !important}

/*百度贴吧*/
#pb_adbanner,div#guide_fc,div#pop_frame,#aside_ad,div#j_ten_years,div.j_banner_post,div#union_mod,div.thread_recommend,[id^="BAIDU_CLB_AD_"],div[id^="dasense_"] {display: none !important}

/*百度百科*/
body#view>div#topToolbar {display: none !important}

/*百度经验*/
.aside-ads-container,.bottom-ads-container {display: none !important}

/*百度音乐*/
.ecomad-banner-loading,.pause-ad {display: none !important}

/*百度网盘*/
div#activateGuidePopupOuter {display: none !important}

/*优酷*/
div.sk_banner,[class^="yk-AD-"] {display: none !important}

/*乐视*/
.Ad,.ad_pop,.J-odeum,[id^="JS_H_ad_"],div[id^="a_column_banner_"] {display: none !important}

/*爱奇艺*/
#adflash,#leftad,.ad-wrapper,div#qiyi_flash_install,.rightAdv,[id^="right_ad_"],div[id^="1000000000"] {display: none !important}

/*搜狐视频*/
[class$="noads"],[class^="adv_"],a.us_left.abs,a.us_right.abs {display: none !important}

/*华数TV*/
.special_ad,[class^="play_ads"],.item_lsit_ad,.movie_ad {display: none !important}

/*网易视频*/
div#v_shapeLeft_divId,div#v_shapeRight_divId {display: none !important}

/*凤凰视频*/
.topAd,.adArea,#footAD_box,.adbest,[class^="ad3"],[id^="couplet3_"] {display: none !important}

/*腾讯视频*/
.mod_ad,.pop_ads_wide,.action_ad,.mod_ads,div.mod_float_box {display: none !important}

/*风行网*/
#network-mobile,.Ad,[class^="fs14_"],[id^="adBox"] {display: none !important}
body.adv-browser>div.Tv-rest+div.Prevue-video {display: none !important}

/*1905电影网*/
div#carousel_banner,div.eventLink_pageBackground {display: none !important}

/*大成网*/
.sider_ad,iframe#commentIframe,.l_qq_com,[id^="ad_"],.Top-Ad,.tl_ad,.ad-h55,div.mod-right.adbutton-Aritcle-QQ,[class^="ad-box"] {display: none !important}

/*精睿安全*/
div.a_pb,#wechat_float_qrcode {display: none !important}

/*机锋论坛*/
div.wpp,.gyyad {display: none !important}
div.boardnav>div#ct>div.mn>div.bmw.flg {display: none !important}

/*小众软件*/
.ads {display: none !important}

/*卡饭论坛*/
div.comeing_show_box,div.a_pt {display: none !important}

/*sourceforge*/
aside.jobs-widget {display: none !important}

/*凤凰网*/
.adcontent,#picAdposition,.block_ad,.tuiguang,div.cultureService,#final_head_ad,div[id^="nytw"],[class^="adR0"],[class^="adList"],[class^="adbox"],[class^="ad0"],[class^="ad9"] {display: none !important}

/*新浪网*/
.adNone {display: none !important}

/*网易*/
.ad-main,div#js-epSpRecommend {display: none !important}

/*MSN中国*/
.ad,.topAd,.bottomAd {display: none !important}

/*博闻网*/
[id^="div-gpt-ad-"] {display: none !important}

/*人人影视*/
.ads_partner_list {display: none !important}

/*A67手机电影网*/
div.banner990 {display: none !important}
div.main_box>div.list_left>div.menu_button {display: none !important}

/*游民星空*/
div#hitix,div#bgAdWrapClose,div.gpzl,div#bglink {display: none !important}

/*17173*/
.ad-con,[class^="ad-pn"],[class^="ad-sy-"] {display: none !important}

/*迅雷快传*/
.adv_area {display: none !important}

/*新浪爱问*/
[class^="ad_"] {display: none !important}

/*微奇生活*/
div#middle>div#sidebar>div[style^="height"],div#float {display: none !important}

/*猛犸家园*/
#sitefocus,#wx_contarner {display: none !important}

/*仿真论坛*/
.diy-ad {display: none !important}

/*小木虫论坛*/
.adtable,.adclass {display: none !important}
